<div class="container">
  <div>
    <form #form="ngForm" (ngSubmit)="enviarTXT(form)">
      <div class="leftBlock">
        <h2>Txt File Emulator</h2>
        <textarea id="file" class="linedTextArea" (keydown)="onKeydownFile($event)" [(ngModel)]="textTXT" name="fileTxt" required>
        </textarea>
        <div class="alignButtons">
          <button type="submit" name="button"> Run Code</button>
          <button name="button2" (click)="imprimirTokens(textTXT)"> Tokens</button>
          <button name="button3" (click)="imprimirInfo(textTXT)"> Print Info</button>
        </div>
        <h2>Output</h2>
        <textarea id="output" disabled>{{response2}}{{response}}{{response3}}{{response4}}
        </textarea>
      </div>
      <div class="rightBlock">
        <h2>Terminal Emulator</h2>
        <ng-terminal #term></ng-terminal>
      </div>
    </form>
  </div>
</div>