#file {
  margin-left: -2.5%;
  background-color: #999999;
  height: 242px;
  width: 500px;
  color: white;
  resize: none;
  font-size: 13.9px;
}

#output {
  margin-left: -2.5%;
  background-color: #999999;
  height: 146px;
  width: 535px;
  color: white;
  resize: none;
  font-size: 13.9px;
}

#term {
  margin-left: 2.5%;
  overflow:hidden;
  height: 500px;
  width: 500px;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.leftBlock {
  float: left;
}

.rightBlock {
  float: right;
  height: 510px;
  width: 535px;
}

button {
  background-color: #4CAF50;
  border: revert;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  justify-content: flex-end;
  display: flex;
}

.linedTextArea {
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color:#ccc;
}
.alignButtons{
  display:flex;
}
.clear {
  margin-left: 170px;
}
