<div class="container">

  <div class="center">
    <form #form="ngForm" (ngSubmit)="enviarTXT(form)">
      <div>
        <h2>Txt File Emulator</h2>
        <textarea id="file" class="linedTextArea" (keydown)="onKeydown($event)" [(ngModel)]="textTXT" name="fileTxt">
        </textarea>
        <button type="submit" name="button"> Run Code</button>
        <h2>Output</h2>
        <textarea id="output" disabled>{{response2}}{{response}}
        </textarea>
      </div>
    </form>
    <div>
      <h2>Terminal Emulator</h2>
      <textarea id="terminal"></textarea>
    </div>
  </div>

</div>